@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #fff;
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  transition: var(--tran-03);
}

body.dark {
  --primary-color: #3A3B3C;
  --panel-color: #242526;
  --text-color: #CCC;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #3A3B3C;
  --box2-color: #3A3B3C;
  --box3-color: #3A3B3C;
  --title-icon-color: #CCC;
}

nav {
  position: fixed;
  height: 100%;
  width: 250px;
  padding: 10px 16px;
  border-right: 2px solid var(--border-color);
  background-color: var(--panel-color);
  transition: var(--tran-03);

  .logo-name {
    display: flex;
    align-items: center;
    transition: var(--tran-05);
    .logo {
      max-width: 50px;
      display: flex;
      align-items: center;
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .name-title {
      font-size: 22px;
      font-weight: 600;
      margin-left: 15px;
      color: var(--text-color);
      transition: var(--tran-03);
    }
  }

  .nav-list {
    padding-top: 50px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
      li {
        position: relative;
        height: 50px;
        list-style: none;
        cursor: pointer;

        .link-hover {
          position: relative;
          width: 100%;
          &:hover i, &:hover span {
            color: var(--primary-color);
          }
          &:hover:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -8px;
            width: 6px;
            height: 6px;
            background-color: var(--primary-color);
            border-radius: 50%;
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
  
          i {
            width: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: var(--black-light-color);
          }
          span {
            color: var(--black-light-color);
            font-size: 18px;
          }
        }
      }
    }
    .logout-mode {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      border-top: 1px solid var(--border-color);
      white-space: nowrap;
      .dark-mode {
        position: relative;
        .switch {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 2px;
          height: 20px;
          width: 40px;
          border-radius: 15px;
          background-color: var(--toggle-color);
          &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 39%;
            transform: translateY(-50%);
            left: 4px;
            width: 15px;
            height: 15px;
            background-color: var(--panel-color);
            border-radius: 50%;
            transition: var(--tran-03);
          }
        }
      }
    }
  }
}

nav.close {
  width: 73px;
  .name-title {
    opacity: 0;
    pointer-events: none;
  }
  .nav-list {
    ul {
      padding-left: 5px;
      .link-text {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dark nav .logout-mode .dark-mode .switch:before {
  left: 21px;
}

.dashboard {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  padding: 10px 15px;
  background-color: var(--panel-color);
  transition: var(--tran-03);
  .top {
    background-color: var(--panel-color);
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    transition: var(--tran-03);
    .toggle-bar {
      font-size: 26px;
      cursor: pointer;
      color: var(--text-color);
    }

    .search-box {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 45px;
      max-width: 600px;
      border-radius: 5px;
      margin: 5px 10px;
      i {
        z-index: 10;
        margin-left: 11px;
        font-size: 21px;
        color: var(--black-light-color);
      }
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--panel-color);
        padding: 10px 30px 10px 40px;
        outline: none;
        border: 1px solid var(--border-color);
        font-size: 15px;
        color: var(--text-color);
        border-radius: 5px;
      }
    }
    img {
      width: 40px;
      border-radius: 50%;
    }
  }
}

.dash-content {
  padding-top: 60px;
  .title {
    display: flex;
    align-items: center;
    margin: 50px 0 30px 0;
    color: var(--text-color);
    i {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      background-color: var(--primary-color);
      color: var(--title-icon-color);
      border-radius: 5px;
      margin-right: 10px;
    }
    .text {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-color);
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: calc(100% / 3 - 15px);
      background-color: var(--box1-color);
      border-radius: 12px;
      i {
        font-size: 35px;
      }
      .box-text {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
      }
      .box-number {
        font-size: 40px;
        font-weight: 500;
        white-space: nowrap;
      }
    }
    .box2 {
      background-color: var(--box2-color);
    }
    .box3 {
      background-color: var(--box3-color);
    }
  }
  .activity-data {
    display: flex;
    justify-content: space-between;
    .data {
      display: flex;
      flex-direction: column;
      margin: 0 15px;
      .data-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .data-list {
        font-size: 18px;
        margin-bottom: 10px;
        margin: 10px 0;
        white-space: nowrap;
        color: var(--text-color);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  nav {
    width: 73px;
  }

  nav.close {
    width: 250px;
  }

  nav .name-title, nav .link-text {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .name-title, nav.close .nav-list .nav-links .link-text, 
  nav.close .nav-list .logout-mode .link-text {
    opacity: 1;
    pointer-events: auto;
  }

  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }

  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close ~ .dashboard .top {
    left: 265px;
    width: calc(100% - 265px);
  }

  .activity-data {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin: 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .dash-content .boxes .box {
    width: 100%;
    margin: 15px 0;
  }

  nav {
    width: 73px;
  }

  nav.close {
    width: 73px;
  }

  nav .name-title, nav .link-text {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .name-title, nav.close .nav-list .nav-links .link-text, 
  nav.close .nav-list .logout-mode .link-text {
    opacity: 0;
    pointer-events: none;
  }

  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  .toggle-bar {
    display: none;
    pointer-events: none;
  }
}